.searchPage_header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}

.searchPage_logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
}

.searchPage_header > .search > .search_input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.searchPage_options {
  display: flex;
  align-items: center;
  color: grey;
  margin-top: 30px;
}

.searchPage__options a,
.searchPage__optionsRight a {
  text-decoration: none;
  color: grey;
}

.searchPage_optionsRight,
.searchPage_optionsLeft {
  display: flex;
}

.searchPage_optionsRight {
  margin-left: 80px;
}

.searchPage_option {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.searchPage_option a {
  margin-left: 5px;
}

.searchPage_result {
  margin: 40px 0;
}

.searchPage_resultCount {
  color: #70757a;
  font-size: 14px;
}

.searchPage_results {
  max-width: 650px;
  margin-top: 20px;
  margin-left: 240px;
  margin-bottom: 100px;
}

.searchPage_resultTitle {
  text-decoration: none;
}

.searchPage_resultTitle:hover {
  text-decoration: underline;
}

.searchPage_resultTitle > h2 {
  font-weight: 500;
}

.searchPage_resultSnippet {
  margin-top: 10px;
}

.searchPage_resultLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  margin-bottom: 3px;
}

.searchPage_resultImage {
  object-fit: contain;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.searchPage_headerBody > .search > .search_input {
  margin-left: 0;
  margin-top: 0;
}

.down_arrow {
  color: rgb(223, 215, 215);
}
