::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #e5e5e5;
}

/* app container style */
.app-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

/* media panel style */
.media-panel {
  padding: 10px;
  flex: 20%;

  width: 340px;
  height: 980px;
  left: 0px;
  top: 0px;

  background: #ffffff;
  overflow: scroll;
}

/* hide scroll bar */
.media-panel::-webkit-scrollbar {
  display: none;
}

/* media panel text styles */
.media-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  color: #000;
}

/* global image style */
.images {
  width: 90%;
  height: 250px;
  margin: 3px;
  border: 1px solid grey;
  border-radius: 10px;
}

/* selected image panel styles  */
.selected-images-panel {
  padding: 10px;
  flex: 80%;
  width: 1160px;
  height: 820px;
  left: 390px;
  top: 50px;
  margin: 60px;
  background: #ffffff;
  border-radius: 8px;
}

/* selected image display styles */
.selected-images {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* image action button display styles */
.image-action-btn {
  bottom: 8px;
  left: 16px;
}

/* image drop field styles */
.drop-field,
.middle-drop-field {
  width: 333px;
  height: 250px;
  margin: 3px;
  min-height: 200px;
  border: 2px dotted grey;
  border-radius: 10px;
}
/* image drop field all p tag styles */
.drop-field p,
.middle-drop-field p {
  font-size: medium;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .app-container {
    flex-direction: column;
  }
}
.selected-images-panel {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
}

/* middle drop field styles */
.middle-drop-field {
  margin: 0;
  position: absolute;
  top: 47%;
  left: 61%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* media query */
@media (max-width: 1100px) {
  .selected-images-panel {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
  }

  .selected-images-panel::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 500px) {
  .selected-images-panel {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
  }

  /* middle drop filed styles it apply when canvas image is empty */
  .middle-drop-field {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .selected-images-panel::-webkit-scrollbar {
    display: none;
  }
}

/* image container styles */
.image-container {
  position: relative;
  height: 260px;
  max-width: 25%;
  margin-bottom: 14px;
}

@media (max-width: 1024px) {
  .image-container {
    position: relative;
    height: 260px;
    max-width: 50%;
    margin-bottom: 14px;
  }
}

/* image action buttons styles */
.image-container .action-btn {
  visibility: hidden;
  display: flex;
  position: absolute;
  top: 10%;
  left: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 6px 14px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
}

@media (max-width: 1440px) {
  .image-container .action-btn {
    /* visibility: hidden;
    display: -ms-flexbox;
    display: flex;
    position: absolute; */
    top: 11%;
    left: 22%;
    /* -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555; */
    color: white;
    font-size: 17px;
    /* padding: 6px 9px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    text-align: center; */
  }
}

/* image action button icon styles */
.image-container .action-btn .settings-btn,
.remove-btn {
  font-size: medium;
  border: none;
  background-color: #555;
  color: white;
}

/* image action button hover effect */
.image-container:hover .action-btn {
  visibility: visible;
  color: aqua;
}
